@charset "UTF-8";

@media screen and (max-width: 767px){

	body .common-header .navbar{
		padding: 0px 0;
	}
	body .navbar-fixed-top.common-header .navbar {
    background-color: #652120; /*#rgba(255,255,255,1)*/
}
	.common-header .navbar-default .navbar-toggle {
    background-color: #652120;
    border: none;
    padding: 2px;
}
.common-header .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    width: 30px;
    height: 2px;
    margin: 7px 0;
    transition: 0.4s;
    display: block;
}
.common-header .navbar-toggle .icon-bar.one {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}
.common-header .navbar-toggle.collapsed .icon-bar {
    -webkit-transform: none;
    transform: none;
}
.common-header .navbar-toggle.collapsed .icon-bar.two {
    opacity: 1;
}
.common-header .navbar-toggle .icon-bar.two {
    opacity: 0;
}
.navbar-toggle .icon-bar.three {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.navbar-collapse{
	border: none;
}

.filter-bottom, .filter-title {
    display: none;
}

.mobile-subheader {
	float:none;
	text-align:center;
	width:100%;
	margin-top: 0px;
}
.topmenu-wraper li a {
    font-size: 11px;
    color: #ffffff;
    transition: all 0.5s ease;
}
.logo-image {
    height: 50px;
    transition: all 0.5s ease;
}
.common-header .navbar-brand {
    padding-left: 10px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 16px;
}
.menu-wraper .navbar-nav>li + li {
    margin-left: 15px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
}
.navbar-default .navbar-nav>li:first-child>a {
    padding-left: 15px;
}
.common-header .navbar-default .navbar-nav>li>a {
    color: #111111;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
	border-bottom: 1px solid #DCDCDC;
    font-weight: 600;
}
.shrink .logo-image {
    height: 40px !important;
    transition: all 0.5s ease;
}
.shrink .mobile-subheader {
    margin-top: 0px !important;
    transition: all 0.5s ease;
}
.row {
    margin-right: 0px !important;
	margin-left: 0px !important;
}
.common-section {
    padding: 30px 0;
}
.section-title {
    margin-bottom: 5px;
}
.icon-img span {
    width: 100px;
    height: 100px;
    padding-top: 25px;
}
.mobile-img-wt{
	width: 50%;
}

.mobile-section {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.testimonial-content {
    font-size: 14px;
    margin: 10px 7px 30px;
}
.testimonial-name {
    font-size: 16px;
}
.footercontact-left {
    text-align: center;
    padding: 16px 12px;
}
.mobile-footer-contact {
    font-size: 21px;
}
.mobile-single {
    font-size: 14px;
    color: #2b2b2b;
	margin-top: 0px !important;
}
.list-inline>li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}
.m-width-100{
	width:100% !important;
}
.pad-10{
	padding:10px !important;
}
.mob-state{
	margin-top: 0px !important;
}
.p-left{
	padding-left:31px !important;
}
.p-top{
	padding-top:0px !important;
}
.banner-inner .homeslider img{
	height: 70px !important;
}
.banner-inner .pagetitle{
	font-size:14px !important;
}
.breadcrumb{
		padding: 4px 16px !important;
}
.prolistview .prd-single {
	width:100%;
}
.prdbtn-wraper {
    opacity: 1;
    visibility: visible;
}
.homeslider-section{
  position: relative;
  margin-top:110px;
}
.login-modal .modal-dialog {
    padding: 3rem;
}
.contactform-wraper {
    padding-left: 10px;
    border-left: none;
}
.banner-section {
    position: relative;
    margin-top: 110px;
}
.profile-rightwraper {
    width: 100%;
    padding:0px;
}
.profile-leftwraper {
    width: 100%;
	padding: 0 15px 0 15px;
}
.profile-navbar li {
    margin-right: 3px;
}
.profile-navbar li a {
	font-size: 12px;
	margin-right: 0px;
}
.select2-container {
	width:100% !important;
}
.profile-leftinner{
	padding-right: 0px;
	padding-left: 0px;
    min-height: 50vh;
}
.list-inline {
padding-left: 10px;
}
.productname {
    font-size: 15px;
    line-height: 18px;
    color: #652120;
    margin-bottom: 2px;
}
.cartitem-value {
    font-size: 14px;
}
.cartitem-lits .prdorder-common {
    padding: 10px 8px 10px 8px;
}
.orderimg-wraper {
    border-right: 1px solid #dbdbdc;
    padding: 8px 8px;
}
.wishlist-section .orderlist-single .savebtn, .wishlist-section .orderlist-single .transparent-btn {
    padding: 8px 10px;
}
.transparent-btn {
    font-size: 12px;
}
.savebtn {
 font-size: 12px;
}
.transparent-btn {
    padding: 8px 20px;
}
.prdorder-detail:before {
	display:none;
}
.profileright-inner {
	min-height: 45vh;
}
.myorder-section {
    margin-top: 50px;
}
.orderimg-wraper {
    padding: 5px 5px;
}
.navbar-fixed-top {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
}
.mobile-navbar-fixed-top {
    position: fixed;
	display: inline;
    right: 0;
    left: 0;
    z-index: 1030;
}
.mobile-hide{
	display: none;
}
.navbar .bg-color{
	background-color: #652120;
}
.f-icon{
	font-size: 20px;
	color: #fff !important;
}
.navbar-toggle {
	margin-right: 0px;
}
.pl-0{
	padding-left: 0px;
}
.pr-0{
	padding-right: 0px;
}
.mt-15{
	margin-top: 15px;
}
.cart-count {
    left: 85%;
	top: -8px;
}
.p-35{
	padding-left: 35px;
}
.min-h{
	min-height: 0px;
}

.prd-img{
	padding-top: 10px;
}
.prdbtn-wraper .list-inline{
	text-align: center;
}
.detailbtn-wraper .list-inline{
	text-align: center;
}
.common-btn {
	padding: 6px 10px;
}
.pagetitle-wraper {
		bottom: 66%;
}
.productright-wraper {
    padding-left: 0px;
    padding-right: 0px;
}
.product-topdetails {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.infotitle h3 {
	font-size: 18px;
}
.actual-price, .original-price {
    font-size: 16px;
}
.quantity {
    margin: 0px 0;
}
.pro-details {
    margin: 5px 0;
}
.homeslider-inner .slick-arrow{
	display:none !important;
}
.profile-leftwraper{
    margin-bottom:20px;
    padding: 0px;
}
.placeorder-btn {
    padding: 10px 25px;
    font-size: 14px;
}
.table-responsive{
    border:none;
}
.removeitem-wraper {
    top: calc(50% - 10px);
}
.orderlist-single {
    padding-right: 0 !important;
}
.single-price.prdorder-common{
    clear:both;
}
.addresslist-wraper{
    padding-bottom: 15px;
}
.mobile-center{
    text-align:center;
}
.savebtn {
    padding: 10px 15px;
    
}

.orderlist-single.address-single{
    padding-bottom: 5px;
    margin-bottom: 6px;
}
.pl-20{
    padding-left: 20px;
}
.mpl-4{
    padding-left: 4rem !important;
}
.wishlist-section {
    margin: 40px 0;
}
.m-mb-20{
    margin-bottom: 20px;
}
.commontop-section {
    padding-top: 30px;
}
.cartitem-lits .quantity input {
    padding-right: 15px;
}
.mm-top{
    margin-top: 110px;
}
.mpr-none{
    padding-right:0px !important;
}
.mob-w{
    width:100% !important;
}
.orderhis table, .cart table {
    width: 100%;
    table-layout: auto;
}
.mm-r{
    margin-right: 4%;
}
.shipping-wraper {
    margin-bottom: 15px;
}
.loaderlogo1 {
    margin-top: 0%;
}

}	

@media screen and (min-width: 320px) and (max-width: 359px) and (orientation: portrait){
}

@media screen and (min-width: 320px) and (max-width: 599px) and (orientation: portrait){
.m-pt-0{
	padding-top: 0px !important;
}
}

@media screen and (min-width: 320px) and (max-width: 599px) and (orientation: landscape){ 

}

@media screen and (min-width: 600px) and  (max-width: 767px){
}

@media screen and (min-width: 768px) and (max-width: 1024px){ 
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
}

@media screen and (min-width: 800px) and (max-width: 1280px){ 
}

@media screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait){
}
@media screen and (min-width: 800px) and (max-width: 1280px) and (orientation: landscape){
}

@media screen and (max-width: 1024px){
}
@media (min-width: 1025px){
	.cartitem-lits .placeorder-btn {
		display: none;
	}
 .couponamount-wraper {
    display: none;
}
}

@media screen and (max-width: 1599px){
}

@media screen and (min-width: 1360px){
.container {
    width: 1280px;
}
}
@media screen and (min-width: 768px){
.sticky-wraper {
    position: sticky;
    position: -webkit-sticky;
    top: 115px;
}

.panel-group {
    min-height: 80vh;
    margin-bottom: -6px;
}
}

