@charset "UTF-8";
/*font initialization begin*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.eot');
    src: url('../fonts/Poppins-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.eot');
    src: url('../fonts/Poppins-Thind41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins-Thin.woff') format('woff'),
        url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Mediumd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Boldd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.eot');
    src: url('../fonts/Poppins-Blackd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Lightd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Elephant';
    src: url('../fonts/Elephant-Regular.eot');
    src: url('../fonts/Elephant-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Elephant-Regular.woff2') format('woff2'),
        url('../fonts/Elephant-Regular.woff') format('woff'),
        url('../fonts/Elephant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*font initialization end*/
body,h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins';
	font-weight: normal;
	color: #560835;
}
a, a:hover, a:focus, a:active, button, button:focus{
	outline: 0;
	text-decoration: none;
}
.nopad{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.nopad-left{
	padding-right: 0 !important;
}
.nopad-right{
	padding-right: 0 !important;
}
.padtb-15px{
	padding: 15px 0;
}
.large-title{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.medium-title{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.small-title{
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 10px;
	text-transform: capitalize;
}
section{
	float: left;
	width: 100%;
}
.font-light{
	font-weight: 300;
}
.font-medium{
	font-weight: 500;
}

/*header start*/
.common-header .navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0;
    border: none;
    background-color: #fff;
    padding: 0;
    transition: all 0.5s ease;
    border-radius: 0;
}
.navbar-fixed-top.common-header .navbar {
    background-color: #652120;
}
.shrink.common-header .navbar {
    background-color: #652120;
    box-shadow: 0 0 12px -4px;
    padding: 0;
    transition: all 0.5s ease;
}
.logo-image {
    height: 80px;
	transition: all 0.5s ease;
}
.shrink .logo-image {
    height: 70px;
	transition: all 0.5s ease;
}
.common-header .navbar-brand {
    height: auto;
    padding: 0;
	margin: 0 0 5px;
}
.common-header .navbar-default .navbar-nav>li>a {
    color: #111111;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;font-weight:600;
}
.common-header .navbar-default .navbar-nav>li>a:hover{
    color: #d68301;
    transition: all 0.5s ease;
}
.menu-wraper {
    background-color: #f3f3f3;
}
.menu-wraper .navbar-nav>li + li{
	margin-left: 13px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #d68301;
    background-color: transparent;
}
.common-header .navbar-default .navbar-nav>li.active>a {
    color: #d68301;
}
.menu-wraper .navbar-nav>li.dropdown .dropdown-menu{
   display: block;
   margin-top: 10px;
   transition: all 0.5s ease;
   border: 0;
   opacity: 0;
   visibility: hidden;
   padding: 0;
}
.menu-wraper .navbar-nav>li.dropdown:hover .dropdown-menu{
   margin-top: 0;
   transition: all 0.5s ease;
   opacity: 1;
   visibility: visible;
}
/*header end*/

/*home slider start*/

.homeslider{
	display: block;
	width: 100%;
}
.owl-theme .owl-controls .owl-dots{
    position: absolute;
    bottom: 0;
    left: 0;
	width: 100%;
}
.owl-theme .owl-controls .owl-dot{
    display: inline-block
}
/*home slider end*/

.content-para p{
	display: block;
	font-size: 16px;
	float: left;
	line-height: 28px;
	width: 100%;
}
.content-para p:last-child{
	border-bottom: none;
	margin: 0;
}
.common-btn {
    color: #fff;
    display: inline-block;
    overflow: hidden;
    padding: 8px 15px;
    position: relative;
    z-index: 10;
	transition: all 0.5s ease;
	text-transform: uppercase;
}


/*footer start*/
.text-white{
	color: #ffffff;
}
footer {
    background-color: #111111;
    float: left;
    width: 100%;
}
.footer-title {
    font-size: 20px;
    margin-bottom: 15px;

}
footer .container{
	padding: 0;
}
.footer-menu li{
	width: 100%;
}
.footer-menu li  + li{
    margin-top: 8px;
}
.footer-menu li a {
    color: #7e7f84;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px;
    position: relative;
}
.footer-menu li a::after {
    background: #e7b360;
    bottom: 0;
    content: '';
    height: 1px;
    left: 50%;
    margin-left: 0;
    position: absolute;
    transition: all 0.5s ease;
    width: 0;
}
.footer-menu li a:hover {
    color: #e7b360;
    transition: all 0.5s ease;
}
.footer-menu li a:hover::after {
    margin-left: 0;
    width: 100%;
    left: 0;
}
.social-links li a {
    color: #ffffff;
    display: inline-block;
    padding: 4px 0 0;
    font-size: 21px;
    text-align: center;
    position: relative;
    overflow: hidden;
	z-index: 10;
    line-height: 34px;
	margin-right: 8px;
}
.footerinner-wraper{
	padding: 20px 0 20px 0;
}
.social-links{
	margin-bottom: 0;
}
.social-links li a:hover {
    color: #652120;
}
/*.social-links li a:after {
    background-color: #e7b360;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(0);
    transition: all 0.4s ease;
}*/
.social-links a i {
    position: relative;
    z-index: 20;
}
/*.social-links li a:hover:after {
    transform: scale(3);
    transition: all 0.9s ease;
}*/
.copyright {

    color: #7e7f84;
    padding: 20px 0;
    text-align: center;
}
/*footer end*/

/*featured category section*/
.featuredcat-single{
	width: 20%;
	padding: 0 15px;
	float: left;
	margin: 15px 0;
}
.section-title{
	font-size: 28px;
	font-weight: 600;
	color: #652120;
	margin-bottom: 30px;
}
.middle-liner{
	position: relative;
}
.middle-liner>span{
	position:relative;
	z-index: 30;
	background-color: #ffffff;
	padding: 0 10px;
}
.middle-liner:before{
	content: "";
	width: 100%;
	left: 0;
	height: 1px;
	background-color: #8e5a78;
	position: absolute;
	top: 50%;
}
.text-uppercase{
text-transform: uppercase;
}
.commontop-section{
	padding-top: 70px;
}
.featuredsingle-title{
	color: #333333;
	background-color: #eeeeee;
	padding: 15px;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.btmcontainer {
    margin-top: 30px;
}
.readmore-inner {
    display: block;
    position: relative;
    z-index: 30;
}
.readmore-inner span {
    display: inline-block;
    vertical-align: middle;
}
.readmore-btn i {
    color: #ffffff;
    margin-left: 10px;
    transition: all 0.35s ease;
}
.readmore-btn {
    position: relative;
    display: inline-block;
    background-color: #e7b360;
    padding: 8px 25px;
    color: #f9f9f9;
    transition: all 0.5s ease;
	text-transform: uppercase;
}
.readmore-btn:before {
    position: absolute;
    width: 100%;
    content: "";
    height: 0;
    background-color: #652120;
    bottom: 0;
    left: 0;
    transition: all 0.35s ease;
}
.readmore-btn:hover, .readmore-btn:focus {
    color: #f9f9f9;
    transition: all 0.5s ease;
}
.readmore-btn:hover:before {
    height: 100%;
    transition: all 0.35s ease;
}
.readmore-btn:hover i {
    transform: translateX(5px);
    transition: all 0.25s ease 0.38s;
}
.featured-section .slick-list.draggable{
	padding: 0px 25% !important;
}
.featured-single{
	padding: 0 10px;
}
.featuredsingle-img img{
	width: 100%;
}
.slick-slide{
	outline: none;
}
.featuredslider-wraper, .commontab-wraper{
	margin-top: 15px;
}
/*featured category section end*/
.cart-btn{
	background-color: #652120;
}
.cart-btn:hover, .cart-btn:focus{
	background-color: #e7b360;
	color: #ffffff;
	transition: all 0.5s ease;
}
.wishlist-btn {
    background-color: #e1e1e1;
    color: #252525;
}
.wishlist-btn:hover, .wishlist-btn:focus{
	background-color: #111111;
	color: #ffffff;
	transition: all 0.5s ease;
}
.wishlist-btn img {
    transition: all 0.5s ease;
    height: 20px;
}
.wishlist-btn:hover img, .wishlist-btn:focus img{
    filter: brightness(0) invert(1);
	transition: all 0.5s ease;
}
.prdname{
	font-size: 16px;
	color: #652120;
	text-transform: capitalize;
	margin-bottom: 5px;min-height: 46px;
}
.actual-price, .original-price{
	font-size: 18px;
}
.actual-price{
	color: #363636;
}
.original-price{
	color: #a1a1a1;
	text-decoration: line-through;
	margin-left: 5px;
}
.prdbtn-wraper ul {
    margin: 0;
}
.prdbtn-wraper li {
	padding: 0;
}
.prdbtn-wraper li + li {
    margin-left: 5px;
}
.prdbtn-wraper{
	margin: 20px 0 10px;
	/*opacity: 0;*/
	/*visibility: hidden;*/
	transition: all 0.5s ease;min-height: 42px;
}
.prd-inner:hover .prdbtn-wraper{
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease-in;
}
.prd-inner {
    padding: 15px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.prd-single{
	padding: 10px;
}
.shopby-img {
    position: relative;
    background-color: #560835;
}
.shopby-img img{
    opacity: 1;
	transition: all 0.5s ease;
}
.shopby-inner:hover .shopby-img img{
    opacity: 0.8;
	transition: all 0.5s ease;
}
.shopby-price {
    font-size: 20px;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: calc(50% - 30px);
	transition: all 0.5s ease;
}
.shopby-single:nth-child(odd) .shopby-price {
    background-color: rgba(86, 8, 53, 0.6);
}
.shopby-single:nth-child(odd):hover .shopby-price {
    background-color: rgba(86, 8, 53, 0.9);
	transition: all 0.5s ease;
}
.shopby-single:nth-child(even) .shopby-price {
    background-color: rgba(255, 62, 108, 0.6);
}
.shopby-single:nth-child(even):hover .shopby-price {
    background-color: rgba(255, 62, 108, 0.9);
	transition: all 0.5s ease;
}
.offer-percent {
    margin-left: 12px;
    font-size: 16px;
    color: #b56f00;
}
.common-section{
	padding: 70px 0;
}
.icon-img, .icon-inner{
	text-align: center;
}
.icon-img span {
    width: 150px;
    height: 150px;
    background-color: #ededed;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 38px;
}
@-webkit-keyframes scaleDisappear {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	60% {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes scaleDisappear {
	0% {
		opacity: 1;
		-moz-transform: scale(1);
	}
	60% {
		opacity: 0;
		-moz-transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}
@-ms-keyframes scaleDisappear {
	0% {
		opacity: 1;
		-ms-transform: scale(1);
	}
	60% {
		opacity: 0;
		-ms-transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-ms-transform: scale(1);
	}
}
@-o-keyframes scaleDisappear {
	0% {
		opacity: 1;
		-o-transform: scale(1);
	}
	60% {
		opacity: 0;
		-o-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}
@keyframes scaleDisappear {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	60% {
		opacity: 0;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.icon-inner:hover .icon-img span img{
    animation: 0.5s ease 0s normal none 1 running scaleDisappear;
}
.icon-name {
    color: #652120;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}
.newarrival-thumb + .newarrival-thumb{
	margin-top: 14px;
}
.newarrival-single{
	padding: 0 8px;
}
.newarrival-middle{
	padding: 0 5px;
}

.footerform-inner .form-control {
    border-radius: 0;
	box-shadow: none;
}
.footerform-inner  textarea.form-control{
	resize: none;
	height: 100px;
}

.submit-btn {
    position: relative;
    display: inline-block;
    background-color: #e7b360;
    padding: 8px 25px;
    color: #f9f9f9;
    transition: all 0.5s ease;
    text-transform: uppercase;
	border: 0;
	box-shadow: none;
}
.submit-btn:hover, .submit-btn:focus{
    background-color: #ad3534;
    color: #f9f9f9;
    transition: all 0.5s ease;
}
.foverlay-content{
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
}
.featuredsingle-img{
	position: relative;
}
.shopnow-wrap{
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}
.featureditem-inner:hover .shopnow-wrap{
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease;
}
.shopnow-btn{
	padding: 10px 30px;
	display: inline-block;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 18px;
	transition: all 0.5s ease;
}
.shopnow-btn:hover, .shopnow-btn:focus{
    background-color: #e7b360;
    color: #ffffff;
    transition: all 0.5s ease;

}
.fcatname {
    font-family: 'Elephant';
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
}


.foverlay-outer {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 15px;
	transition: all 0.5s ease;
}
.featureditem-inner:hover .foverlay-outer{
height: calc(50% + 100px);
transition: all 0.5s ease;
}
.foverlay-inner{
    display: block;
    width: 100%;
}
.topsearch-wraper, .topmenu-wraper {
    display: block;
    float: left;
    width: 100%;
}
.topmenu-wraper {
	margin-bottom: 5px;
}
/*.header-right{
	margin-top: 30px;
	transition: all 0.5s ease;

}*/
.shrink .header-right {
    margin-top: 28px;
	transition: all 0.5s ease;
}
.topmenu-wraper li + li{
	margin-left: 6px;
}
.topmenu-wraper li a {
    font-size: 14.5px;
    color: #ffffff;
    transition: all 0.5s ease;
}
.topmenu-wraper li a:hover {
    color: #e7b360;
	transition: all 0.5s ease;
}
.header-right {
    width: calc(100% - 200px);
    float: right;
	    margin-top: 32px;
    transition: all 0.5s ease;
}
.topsearchinner-wraper{
	max-width: 360px;
	float: right;
}
.topsearchinner-wraper .btn-default, .topsearchinner-wraper .btn-default:focus {
    color: #333;
    background-color: transparent;
    border: 0;
	outline: none;
	box-shadow: none;
}
.topsearchinner-wraper .input-group .form-control{
	background-color: transparent;
	border: 0;
	box-shadow: none;
}
.topsearchinner-wraper .input-group {
    background-color: #ededed;
    border-radius: 20px;
    padding: 2px 15px;
}
.navbar-default .navbar-nav>li:first-child>a{
	padding-left: 0;
}
.common-count{
	display: inline-block;
	position: relative;
}
.wishlist-icon {
    width: 27px; height: 23px;
    background: url('../images/icons/cart-sprite.png') -60px -10px;
}
.cart-icon {
    width: 30px; height: 28px;
    background: url('../images/icons/cart-sprite.png') -10px -10px;
}
.whishlist-menu {
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 13px;
}
.cart-count{
	display: inline-block;
	position: absolute;
	left: 60%;
	top: -4px;
	background-color:  #e7b360;
	color: #ffffff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
}
.whishlist-menu li + li{
	margin-left: 8px;
}
.newsletter-section{
background-color: #f3f2f2
}
.newsletter-right .btn-default {
    color: #ffffff;
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #e7b360;
    padding: 14px 30px;
    border-radius: 0;
	transition: all 0.5s ease;
}
.newsletter-right .form-control{
	border-color: #560835;
	height: 50px;
	border-radius: 0;
	color: #560835;
	font-size: 16px;
}
.newsletter-right .btn-default:hover, .newsletter-right .btn-default:focus {
    color: #ffffff;
    background-color: #560835;
    border: 0;
    outline: none;
    box-shadow: none;
	transition: all 0.5s ease;
}
.overlay-wrap, .newarrival-img{
	position: relative;
}
.newarrival-img img{
	width: 100%;
}
.gradient-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-image: linear-gradient(0deg, #ff3e6c, #ffc50c6b);
    transition: all 0.5s ease;
    opacity: 0;
}
.overlay-wrap:hover .featuredsingle-title {
    color: #ffffff;
    background-color: #e7b360;
    transition: all 0.35s ease;
}
.overlay-wrap:hover .gradient-overlay {
    opacity: 1;
	transition: all 0.5s ease;
}
.plus-icon {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid rgba(255, 255, 255, 0);
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    border-radius: 50%;
    transition: all 0.5s ease;
}
.overlay-wrap:hover .plus-icon{
	transition: all 0.5s ease;
	border: 2px solid rgba(255, 255, 255, 0.7);
}
.plus-icon:before, .plus-icon:after {
    position: absolute;
    background-color: #ffffffc7;
    content: "";
	transition: all 0.5s ease;
}
.plus-icon:before {
    width: 2px;
    height: 0;
    top: 20%;
    left: calc(50% - 1px);
}
.overlay-wrap:hover .plus-icon:before {
    height: 60%;
	transition: all 0.5s ease 0.4s;
}
.plus-icon:after {
    width: 0;
    height: 2px;
    left: 20%;
    top: calc(50% - 1px);
}
.overlay-wrap:hover .plus-icon:after {
    width: 60%;
	transition: all 0.5s ease 0.3s;
}
.singleprd a {
    display: block;
}
.quantity {
    margin: 30px 0;
    display: inline;
}
.quantity-button {
    position: relative;
    cursor: pointer;
    width: 40px;
    text-align: center;
    font-size: 25px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    background-color: #ffffff;
    color: #4e4e4e;
    display: inline-block;
    padding: 8px 10px;
    vertical-align: middle;
    margin-top: 0;
    float: left;
    border: 1px solid #cccccc;
    line-height: 20px;
}
input[type=number] {
    -moz-appearance: textfield;
}
.quantity input {
    width: 80px;
    height: 38px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 2px;
    border: 1px solid #cccccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
    text-indent: 0;
    outline: 0;
    -webkit-appearance: none;
}
.detailbtn-wraper ul{
	margin: 0;
}
.detailbtn-wraper li {
	padding: 0;
}
.detailbtn-wraper li + li{
	margin-left: 5px;
}
.productdetail-imgwraper {
    border: 1px solid #e0e0e0;
    padding: 20px;
}
.infotitle h3 {
    /*font-size: 15px;*/
}
.productright-wraper{
	padding-left: 30px;
}
.pro-details{
	margin: 50px 0;
}
.singleprd-inner {
    border: 1px solid #d9d9d9;
    cursor: pointer;
}
.singleprd{
	padding: 0 5px;
}
.thumbnailprd-slider{
	margin: 30px 0 15px;
}
.quantity-up {
    margin-left: -15px;
}
.thumbnailprd-slider .slick-current.slick-active.singleprd .singleprd-inner {
    border: 2px solid #ff3e6c;
    transition: all 0.5s ease 0.1s;
}
.product-topdetails {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ededed;
}
.text-green {
    color: #00a651;
}
.detcnt {
    font-size: 18px;
    font-weight: 500;
    color: #4e4e4e;
    line-height: 16px;
}
.dettit, .littit {
    font-size: 16px;
    font-weight: 300;
    color: #a4a4a5;
    margin-bottom: 2px;
}
.categories-wraper{
	margin-top: 20px;
}
.categories-wraper .social-links li a {
    color: #560835;
	transition: all 0.5s ease;
	line-height: 21px;
}
.categories-wraper .social-links li a:hover {
    color: #652120;
	transition: all 0.5s ease;
}
.productspec-wraper .nav-tabs>li + li {
	margin-left: 15px;
}
.productspec-wraper .nav-tabs>li>a {
    border: 0;
    border-radius: 0;
    color: rgba(78, 78, 78, 0.6);
    font-weight: 500;
    font-size: 18px;
    transition: all 0.5s ease;
	padding: 15px 0;
	border-bottom: 2px solid transparent;
  margin-right: 15px;
}
.productspec-wraper .nav-tabs {
    border: 0;
    border-bottom: 1px solid #ededed;
	margin-bottom: 30px;
}
.productspec-wraper .nav-tabs>li.active>a, .productspec-wraper .nav-tabs>li.active>a:focus, .productspec-wraper .nav-tabs>li.active>a:hover {
    color: #111111;
    background-color: transparent;
    border: 0;
	border-bottom: 2px solid;
}
.productspec-wraper .nav-tabs>li>a:hover {
    color: rgba(78, 78, 78, 0.80);
    background-color: transparent;
    transition: all 0.5s ease;
}
.productspec-wraper{
	margin: 50px 0 0;
	padding: 0;
}
.content-para table{
	margin: 30px 0;
}
.proc-attr strong {
    font-weight: 500;
}

/*prd listing*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
	background-color: transparent;
}
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    font-weight: 300;
	color: #ffffff;
}
ul.breadcrumb li a {
    color: #9d9da0;
    text-decoration: none;
}
.panel-group {
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    padding: 0px;
    background: #fff;
    transition: all 0.5s ease;
    display: inline-block;
    width: 100%;
}
.filtersec {
    margin-bottom: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
}
.filter-title {
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: #1b4f95;
    top: 0;
    left: 0;
    z-index: 9999;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.clear-filter a {
    font-size: 10px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}
.collapsemenu {
    padding-left: 15px;
}
.collapsemenu>li {
    padding: 12px 0;
    display: block;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.collapsemenu>li:last-child {
    border-bottom: none;
}

.collapsemenu>li>a {
    color: #434648;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}
.firstlevel-collpase {
    width: 100%;
    max-width: calc(100% - 35px);
}
.collapsemenu li a {
    transition: all 0.5s ease;
}
.collapse-trigger {
    position: relative;
    width: 22px;
    height: 22px;
}
.collapse-trigger:after, .collapse-trigger:before {
    position: absolute;
    content: "";
    background-color: #4e4e4e;
}
.collapse-trigger:before {
    width: 1px;
    height: calc(100% - 10px);
    left: calc(50% - 1px);
    top: 5px;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}
.collapse-trigger.collapsed:before {
    width: 1px;
    height: calc(100% - 10px);
    left: calc(50% - 1px);
    top: 5px;
    transform: none;
    transition: all 0.5s ease;
}
.collapse-trigger:after {
    width: calc(100% - 10px);
    height: 1px;
    top: calc(50% - 1px);
    left: 5px;
}
.collapsemenu .well {
    padding: 10px 0 0 15px;
    margin-bottom: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.collapse-submenu {
    padding-left: 0;
    list-style: none;
}
.collapse-submenu>li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #eee;
}
.collapse-submenu>li>a {
    color: #434648;
    font-size: 14px;
    vertical-align: middle;
}

.ui-widget.ui-widget-content {
    border: 0;
    background: #a6a6a6;
}
/**/
[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #4e4e4e;
    margin-bottom: 18px;
    font-size: 14px;
	font-weight: 400;
}
[type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #652120;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
/**/

.filterseccc h4 a {
    color: #a6a6a6;
}
.filterseccc h4 {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.protitlesec {
    padding: 10px 15px;
}
.protitlesec label {
    color: #a6a6a6;
    font-size: 12px;
    font-weight: 300;
    font-weight: 100;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border: 0;
    outline: 0;
    border-radius: 0;
    font-size: 13px;
    color: #4e4e4e;
    font-weight: 500;
    background: transparent;
}
.prolistview {
    position: relative;
    display: block;
    /*border: 1px solid #d9d9d9;
    margin-left: -1px;
    margin-right: -2px;*/
    border-bottom: 0;
}
.protitlesec h1 {
    font-size: 20px;
    margin: 5px 0;
}
.filter-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 8px 15px;
    border-top: 1px solid #ededed;
    display: none;
}


/*.prd-single {
    border: 1px solid #d9d9d9;
    transition: all 0.5s ease;
    position: relative;
    background-color: #ffffff;
}*/
.prolistview .prd-single {
    width: 33.33%;
    float: left;
	margin-left: -1px;
	margin-top: -1px;
	box-shadow: none;
	padding: 0;
    border: none;
}
.prolistview .prd-single .prd-inner {
    box-shadow: none;
	border: 1px solid #d9d9d9;

}
.prolistview .prd-single .prdbtn-wraper {
    opacity: 1;
    visibility: visible;
}
 .prd-single:not(:last-child) {
    border-left: 0;
}
.banner-section{
	position: relative;
	margin-top:138px;
}
.banner-breadcrumb{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.banner-breadcrumb ul.breadcrumb li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
}
.banner-breadcrumb ul.breadcrumb li:last-child a{
	color: rgba(255, 255, 255, 0.95);
}
.pagetitle-wraper {
    position: absolute;
    bottom: 45%;
    left: 0;
    width: 100%;
    z-index: 9;
}
.pagetitle{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
	text-transform: capitalize;
}
.selected-filter{
	display: inline-block;
	background-color: #e5e5e5;
	color: #434343;
	padding: 4px 8px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.selected-filter:hover{
	background-color: #cecece;
	transition: all 0.5s ease;
}
.selectedfilter-wraper{
	padding-left: 0;
}
.selected-filter span{
	display: inline-block;
	margin: 0 2px;
}
.select-close{
	font-size: 16px;
}
.protitlesec label {
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 300;
    margin-right: 5px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    outline: 0;
    height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #747474;
    line-height: 36px;
    text-align: left;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #d8d8d9 transparent transparent transparent;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e7b360;
}

/*account section*/

	.commonaccount-section {
    margin: 50px 0;
}
	.profile-leftinner {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    min-height: 70vh;
    box-shadow: 0px 0px 8px 0.8px rgba(117, 117, 117, 0.15);
}

.profileright-inner {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    min-height: 70vh;
    width: 100%;
    display: inline-block;
    box-shadow: 0px 0px 8px 0.8px rgba(117, 117, 117, 0.15);
}
.profile-leftinner{
	padding: 30px;
}
.loginbtn {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    border: 0;
    box-shadow: none;
    color: #652120;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.profileimg-wraper img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.profileinfo-wraper{
	text-align: center;
}
.profilename {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}
.location {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 12px;
}

.profileinfo-wraper .loginbtn{
	display: inline-block;
	transition: all 0.5s ease;

}
.profilename-container{
	margin: 30px 0 15px;
}
.loginbtn:hover, .loginbtn:focus{
    background-color: #e7b360;
    color: #ffffff;
	transition: all 0.5s ease;
}
.profileinfo-wraper{
	margin-top: -50px;
}
.profile-navbar li a {
    text-transform: uppercase;
    color: #4d4d4f;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 15px;
    display: block;
    line-height: 12px;
    margin-right: 8px;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
    transition: all 0.5s ease;
}
.profile-navbar ul {
    margin: 0;
    border-bottom: 1px solid rgba(77, 77, 79, 0.30);
}
.profile-navbar li a.active {
    color: #652120;
    border-bottom: 2px solid #e8bb71;
    transition: all 0.5s ease;
}
.profile-navbar li a:hover {
    color: #e7b360;
    transition: all 0.5s ease;
}

.profile-navbar li {
    padding-right: 0;
    padding-left: 0;
    margin-right: 20px;
}

.orderlist-wraper {
    margin-top: 5px;
}

.orderlist-single {
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #dbdbdcad;
}
.price-span {
    display: inline-block;
    background-color: #ecb91f;
    color: #ffffff;
    padding: 4px 15px;
    border-radius: 4px;
    min-width: 80px;
    margin-top: 5px;
	font-weight: 500;
}
.orderimg-wraper {
    border-right: 1px solid #dbdbdc;
    padding: 5px 20px;
}
.productname {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 18px;
    color: #652120;
    margin-bottom: 2px;
}
.productcode{
    color: #a6a6a7;
    font-size: 12px;
}
.orderdetails {
    font-size: 14px;
}
.prdorder-common {
    padding: 20px 15px 10px 15px;
}
.prdorder-detail{
	position: relative;
}
.prdorder-detail:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 44px;
    top: 22px;
    right: 0;
    background-color: #dbdbdc;
}
.changepwd-wraper {
    padding: 30px 0 0;
}
.changepwd-wraper label {
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: #c9b1b1;
}
.changepwd-wraper .form-control{
       background-color: rgba(255, 255, 255, 0.3);
    border: 0;
	height: 38px;
	font-size: 16px;
	border: 1px solid #dcdcdc;
    border-radius: 4px;
	box-shadow: none;
}
.savebtn {
    background-color: #e7b360;
    border-radius: 4px;
    padding: 14px 30px;
    text-align: center;
    border: 0;
    box-shadow: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
	display: inline-block;
    text-transform: uppercase;
	transition: all 0.5s ease;
	display: inline-block;
}
.savebtn:hover, .savebtn:focus {
    background-color: #652120;
    color: #ffffff;
    transition: all 0.5s ease;
}
.small-lightbtn:hover, .small-lightbtn:focus{
color: #652120;
border: 1px solid rgb(231 179 96)
}
.transparent-btn {
    text-transform: uppercase;
    border: 1px solid rgba(77, 77, 79, 0.20);
    border-radius: 4px;
    padding: 13px 30px;
    font-size: 13px;
	font-weight: 500;
    color: #4d4d4f;
	display: inline-block;
    transition: all 0.5s ease;
}
.transparent-btn:hover, .transparent-btn:focus {
    background-color: rgba(255,255,255,0.3);
    color: #652120;
    transition: all 0.5s ease;
    border-color: #e7b360;
}

/**/

/**/
.profileform-wraper .form-control {
	transition: all 0.5s ease;
}
.profileform-wraper .displayform .form-control {
    padding: 0;
    border: 0;
    box-shadow: none;
    cursor: default;
    font-size: 16px;
    background-color: transparent;
    color: #4b4750;
	font-weight: 500;
	transition: all 0.5s ease;
}

.profileform-wraper .displayform input.form-control {
    height: 25px;

	transition: all 0.5s ease;
}
.profileform-wraper textarea.form-control {
    height: auto;
	min-height: 80px;
	resize: none;
	transition: all 0.5s ease;
}

.profileform-wraper .displayform textarea.form-control {
    min-height: 50px;
    transition: all 0.5s ease;
}

.profileform-wraper .displayform .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4b4750;
	padding: 0;
	font-weight: 500;
	 line-height: 25px;
}
.profileform-wraper .displayform .select2-container--default .select2-selection--single {
    outline: none;
    background-color: transparent;
	border: 0;
}
.profileform-wraper form .select2-container--default .select2-selection--single {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 0; */
    border-radius: 4px;
}
.profileform-wraper form .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 12px;
	color: #4b4750;

}
.profileform-wraper .displayform .select2-container--default .select2-selection--single .select2-selection__arrow{
	opacity: 0;
	visibility: hidden;
}


.editbtn{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.displayform .savebtn, .displayform .cancel-trigger{
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}

.displayform .editbtn{
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease;
}

.cartitem-caption {
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(77, 77, 79, 0.5);
    line-height: 16px;
    margin-bottom: 2px;
}



.profile-rightwraper {
    width: 30%;
    padding: 0 15px 0 5px;
}
.profile-leftwraper{
	width: 70%;
	padding: 0 5px 0 15px;
}
.cartitem-lits .orderlist-single {
    position: relative;
    padding-right: 50px;
}
.removeitem-wraper {
    position: absolute;
    z-index: 99;
    right: 15px;
    top: calc(50% - 10px);
    width: 25px;
    height: 25px;
    /* border: 1px solid #c3c3c3; */
    border-radius: 100%;
    text-align: center;
    line-height: 27px;
    background-color: rgba(148, 148, 148, 0.5);
    cursor: pointer;
    transition: all 0.5s ease;
    color: #fff;
}
.removeitem-wraper:hover{
    color: #ffffff;
	background-color: rgb(101 33 32);
	transition: all 0.5s ease;
}
.cartitem-lits .prdorder-common {
    padding: 25px 15px 10px 15px;
}
.profile-rightwraper {
    width: 30%;
    padding: 0 15px;
	float: right;
}

/*quantity*/
.cartitem-lits .quantity {
    display: inline-block;
	margin: 2px 0;
}
.cartitem-lits .quantity-button {
    position: relative;
    cursor: pointer;
    width: 25px;
    text-align: center;
    font-size: 20px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    background-color: #ffffff;
    color: #4e4e4e;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    margin-top: 0;
    float: left;
    border: 1px solid #e2e2e2;
    line-height: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    margin-top: 0;
}
.cartitem-lits .quantity input {
    width: 44px;
    height: 25px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 0;
    border: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    text-indent: 0;
    outline: 0;
    font-weight: 500;
}
.cartitem-lits .prdorder-common.quantity-wraper{
	padding-left: 5px;
	padding-right: 5px;
}


/*quantity end*/


/*cart module*/
.placeorder-btn {
    background-color: #e7b360;
    border-radius: 4px;
    padding: 14px 30px;
    text-align: center;
    border: 0;
    box-shadow: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    display: inline-block;
}
.priceinfo-wraper {
    padding: 30px;
}
.placeorder-btn:hover, .placeorder-btn:focus {
    background-color: #652120;
    color: #ffffff;
    transition: all 0.5s ease;
}
.priceinfo-title {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(79, 79, 79, 0.2);
}
.amountsplit-single {
    margin-bottom: 4px;
}
.cartitem-value {
    font-size: 16px;
    line-height: 18px;
   font-weight: 500;
    margin-top: 5px;
}
.totalamt-payable {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 25px;
    border-top: 1px solid rgba(79, 79, 79, 0.2);
}
.profileright-inner .bottombtn-wraper {
    margin-top: 25px;
}
.bottombtn-wraper {
    margin-top: 5px;
}
/*address*/
/**/
.custom-radio [type="radio"]:checked, .custom-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.custom-radio [type="radio"]:checked + label, .custom-radio [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-right: 20px;
    font-weight: normal;
	margin-bottom: 0;
}
.custom-radio [type="radio"]:checked + label:before, .custom-radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.custom-radio [type="radio"]:checked + label:after, .custom-radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #e7b360;
    position: absolute;
	top: 11px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.singleaddr-bottom {
    padding-left: 42px;
    margin-bottom: 20px;
}
.small-lightbtn {
    text-transform: uppercase;
    border: 1px solid rgba(77, 77, 79, 0.20);
    border-radius: 4px;
    padding: 6px 20px;
    font-size: 11px;
    font-weight: 500;
    color: rgba(77, 77, 79, 0.50);
    transition: all 0.5s ease;
    display: inline-block;
}
.addnew-address {
    display: none;
}
.address-single:last-child .addnew-address {
    display: inline-block;
}
.bankicon-span, .cardnumber-span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.cardnumber-span span {
    display: block;
}
.addressname-container {
    color: #560835;
    line-height: 18px;
}
.newcard-wraper {
    padding: 30px 30px 20px;
}
.medium-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #6d6d6f;
}
.newcard-wraper .form-control {
    border-color: #e5e5e5;
    box-shadow: none;
    height: 38px;
    width: 100%;
}
textarea.form-control {
    height: auto;
    min-height: 80px;
    resize: none;
}
/**/
.orderconfirmation-wraper {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4px;
}
.username-container {
    font-size: 18px;
	margin-bottom: 15px;
}
.text-success {
    color: #3c763d;
}
.orderconfirm-large {
    font-size: 21px;
}
.orderconfirm-content {
    font-size: 16px;
    margin: 10px 0;
}
.orderconfirm-content a {
    font-size: 17px;
    color: #652120;
    font-weight: 500;
    text-decoration: underline;
}
.orderinfo-container {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ededed;
}
.orderinfo-container .bottombtn-wraper {
    margin-top: 15px;
}

.wishlist-section .cartitem-lits .orderlist-single {
    padding-right: 15px;
}
.wishlist-section .orderlist-single .savebtn, .wishlist-section .orderlist-single .transparent-btn{
	padding: 14px 15px;
}
.wishlist-section .orderlist-single .form-group {
    margin-bottom: 15px;
    margin-top: 25px;
}
.wishlist-section{
	margin: 80px 0;
}
.privacy-content{
	font-size: 16px;
	line-height: 28px;
}
.privacy-content .form-group {
    margin-bottom: 25px;
}
.privacy-content .form-group h5{
    font-size: 18px;
    font-weight: 500;
}
/*login*/
.login-box {
    background-color: #ffffff;
    border-radius: 4px;

}
.login-navbar {
    padding: 15px 25px 0;
    border-bottom: 1px solid #ededed;
}
.login-navbar .list-inline{
	margin-bottom: 0;
}
.loginform-wraper {
    padding: 20px 25px;
}
.loginform-wraper form {
    display: inline-block;
    width: 100%;
}
.loginform-wraper .fieldset {
    margin-bottom: 10px;
}
.fieldset .form-control {
    height: 36px;
    color: #a8a8a8;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button.close {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 28px;
    height: 28px;
    background-color: #fff;
opacity: 1;
color: #652120;
    font-weight: 300;
    border-radius: 50%;
    font-size: 15px;
}
.bootoast button.close {
    position: absolute;
    top: 10px;
    right: 2px;
    width: 28px;
    height: 28px;
    background: none;
    opacity: 1;
    color: #fff !important;
    font-weight: 300;
    border: none;
    font-size: 20px;
}
.login-navbar li a {
    text-transform: uppercase;
    color: #c9c9ca;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    line-height: 12px;
    margin-right: 8px;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
    transition: all 0.5s ease;
}
.login-navbar li a.active {
    color: #331110;
    border-bottom: 2px solid #e7b360;
    transition: all 0.5s ease;
}
.login-modal .modal-body {
    padding: 0;
}
.forgotpwd-link {
    margin-bottom: 15px;
}
.forgotpwd-link a {
    font-size: 12px;
    color: #4d4d4f;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
    margin-top: 5px;
    display: block;
}
.btnbelow-caption {
    font-weight: 500;
    margin: 5px 0 0;
    color: #525151;
    display: inline-block;
    width: 100%;
}
.or-divider {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
}
.sociallogin-caption {
    color: rgba(77, 77, 79, 0.50);
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 300;
}
.social-loginwraper ul {
    margin-bottom: 0;
}
.social-loginwraper li {
    vertical-align: middle;
    min-height: 22px;
    width: 32%;
    text-align: center;
}
.social-loginwraper li a {
    font-size: 20px;
    line-height: 16px;
    border: 1px solid rgba(140, 139, 139, 0.11);
    border-radius: 4px;
    display: block;
    text-align: center;
    padding: 8px;
    min-height: 38px;
    transition: all 0.5s ease;
}
.social-loginwraper li a .fa-facebook {
    color: #0041c4;
}
.social-loginwraper li a .fa-twitter {
    color: #65bbf2;
}
.btnbelow-caption a {
    color: #652120;
}
.close:focus, .close:hover {
    color: #fff;
    opacity: 1;
    background-color: #560835;
	transition: all 0.5s ease;
}
.login-modal .modal-dialog {
    margin: 10% auto;
}
.register-section .login-box{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0.8px rgba(117, 117, 117, 0.15);
}
.showroom-name {
    color: #4e4e4e;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.showroom-address {
    font-size: 16px;
    text-indent: -10px;
    padding-left: 20px;
    min-height: 66px;
}
.showroom-contact {
    margin: 10px 0;
    font-size: 16px;
}
.showroom-details i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #652120;
}
.address-single {
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.contactform-wraper .form-control {
    height: 50px;
    color: #000;
    border: 1px solid #e1e1e1;
    border-radius: 0;

}
.contactform-wraper {
    padding-left: 50px;
    border-left: 1px solid #e1e1e1;
}
.mapcontatiner{
	overflow: hidden;
}
.mapcontatiner iframe{
	margin-bottom: -15px;
}
.showroom-name i{
	color: #652120;
}
.contactform-wraper textarea.form-control {
    min-height: 120px;
}

.icons-section{
      background-image: url(../images/bg/bg-2.jpg);
   background-size: cover;
}
.aboutinner-right img{
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
/**/
.client-logo {
    transition: all .5s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.client-logo:hover {
    transition: all .5s ease;
    -webkit-filter: none;
    filter: none;
}
.testimonial-section {
    background-image: url(../images/bg/sliderbg-3.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding: 70px;
    position: relative;
}
.testimonial-wraper {
    background-color: rgb(0 0 0 / 0.6);
    padding: 30px 50px 20px;
    border-radius: 20px;
}
.testimonial-content {
    font-size: 16px;
    margin: 10px 0 30px;
}
.testimonial-name {
    font-size: 24px;
}
.testimonial-desig {
    font-size: 16px;
}
.testimonial-namewraper {
    font-size: 600;
}
.contactlist-single + .contactlist-single {
    margin-top: 10px;
}
.contactlist-single {
    font-size: 24px;
    color: #2b2b2b;
}
.footercontact-left .follow-us {
    margin-top: 25px;
}
.smallbold-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600;
}
.footercontact-left {
    text-align: right;
    padding: 48px 80px;
}
.social-links li a {
    border: 1px solid #797979;
    border-radius: 50%;
    color: #797979;
    display: inline-block;
    padding: 4px 0 0;
    height: 40px;
    font-size: 21px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 40px;
    z-index: 10;
}
.social-links li a:hover {
    color: #D4D4D4;
    border-color: transparent;
}

.social-links li a:after {
    background-color: #797979;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(0);
    transition: all 0.4s ease;
}
.social-links li a:hover:after {
    transform: scale(3);
    transition: all 0.9s ease;
}
.aboutcontent-wraper a, .aboutcontent-wraper a:hover {
    color: #c51614;
}
.gallery{
  margin: 15px 0;
}
.light-bg {
    background: #f9f9f9;
}
.light-bg .middle-liner>span {
    background-color: #f9f9f9;
}

.padding-150 {
    padding: 250px 0px;
}
.video-btn i{
  font-size: 45px;
  color: #ffffff;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.gallery img {
    width: 100%;
    box-shadow: 2px 2px 8px 0px #0000001a;
}
.gallery {
    float: left;
    width: 100%;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.sectiontitle-bottom{
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    color: #5f5f5f;
}
.payment-sprite>span {
    display: inline-block;
    opacity: 0.8;
    transition: all 0.5s ease;
}
.payment-sprite>span:hover {
    opacity: 1;
    transition: all 0.5s ease;
}
.bg-payment1 {
    width: 27%;
    height: 78px;
    background: url(../images/payment-option.png) 0px -4px;
    background-repeat: no-repeat;background-color:#fff;
}
.payment-sprite span + span {
    margin-left: 10px;
}
.bg-payment2 {
    width: 38px;
    height: 26px;
    background: url(../images/payment-option.png) -68px -10px;
}
.bg-payment3 {
    width: 38px;
    height: 26px;
    background: url(../images/payment-option.png) -10px -56px;
}
.bg-payment4 {
    width: 38px;
    height: 26px;
    background: url(../images/payment-option.png) -68px -56px;
}
.bg-payment5 {
    width: 38px;
    height: 26px;
    background: url(../images/payment-option.png) -126px -10px;
}
.bg-payment6 {
    width: 38px;
    height: 26px;
    background: url(../images/payment-option.png) -126px -56px;
}
.payment-sprite {
    margin-top: 20px;
}
.contactlist-single i {
    color: #a7a7a7;
    width: 35px;
}
.w-check-pin {
    position: absolute;
    right: 30px;
    top: 20px;
    text-align: right;
    width: auto;
    color: #a03433;
    font-weight: 600;
}
.product-dimensions-unit .form-control, .product-dimensions-unit .form-control:focus{
    padding: 10px;
    text-transform: unset;
    height: 56px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-shadow: none;
}
.homeslider img{
  width: 100%;
}

.reorder-div{
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.orderlist-single:hover .reorder-div, .orderlist-single:focus .reorder-div{
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.reorder-div .small-lightbtn {
    padding: 4px 20px;
    margin-top: 5px;
}
.homeslider-section .slick-next{
  right: 30px;
}
.homeslider-section .slick-prev{
  left: 30px;
}
.homeslider-section .slick-prev, .homeslider-section .slick-next {
    border-radius: 50%;
    border: 2px solid rgb(255 255 255 / 0.5);
    width: 40px;
    height: 40px;
    z-index: 9;
}
  .slick-prev:before{
    font-family: "fontawesome";
    content: "\f104"
  }
  .slick-next:before{
    font-family: "fontawesome";
    content: "\f105"
  }
  .homeslider-section .slick-dots{
    bottom: 10px;
    text-align: right;
    padding: 0 30px;
  }
  .homeslider-section .slick-dots li button:before{
    font-size: 12px;
    color: #f3f3f3;
  }
.homeslider-section .slick-dots li.slick-active button:before{
    color: #f3f3f3;
}
.homeslider-section{
  position: relative;margin-top:136px;
}
.downarrow-wraper{
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  z-index: 99;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.downarrow-wraper a {
    border: 2px solid rgb(255 255 255 / 0.5);
    padding: 8px 5px;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
}
.myorder-section{
  margin-top: 85px;
}

.review-head>span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.useravatar{
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
}
.tab-pane, .tab-pane:focus{
  outline: 0;
}
.review-head{
  margin-bottom: 10px;
}
.star-rated{
  margin-bottom: 15px;
}
.star-rated .fa-star{
  color:#e7b360;
}
.star-rated .fa-star-o {
    color: #d3c8c8;
}
.Review-single + .Review-single{
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #ededed;
}
.reviewed-date {
    font-size: 13px;
    color: #c8c3c3;
    font-weight: 300;
}

.review-btn {
    display: inline-block;
    padding: 8px 25px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 4px;
    color: #111111;
    transition: all 0.5s ease;
}
.review-btn:hover {
    background-color: #ededed;
    border: 1px solid #ededed;
    color: #111111;
    transition: all 0.5s ease;
}
  .leave-review {
      margin-top: 50px;
      border-top: 1px solid #ededed;
      padding-top: 20px;
  }
.slick-prev, .slick-next {
    background-color: #000;height: 25px;
    padding: 0;
    width: 25px;
}
.slick-prev:before, .slick-next:before {
    color: #fff;opacity:1;font-size: 30px;
    line-height: 0.6;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    background: black;
}
#pageloader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(57, 54, 54, 0.9);
background-position-x: 50%;
background-position-y: 50%;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
}
.loaderlogo{
    margin-top:20%;
}
.sold_out {
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #e7b360;
    padding: 0.5em 1.5em 0.4em 1.5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    /* -webkit-transform: rotate(-45deg) scale(0.75,1); */
    z-index: 10;
}
.sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -2em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
.text-red {
    color: red;
}
.addi_text {
    font-size: 12px;
    margin-top: 5px;
}
.demoScroll{
    overflow-y: auto;
    height: 370px;
}
.sc1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sc1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.sc1::-webkit-scrollbar-thumb {
  background-color: #e7b360 !important;
  background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #e7b360 !important;
}
.printbtn {
    background-color: #652120;
    color: #fff;
    font-size: 15px;
    padding: 1%;
    border-radius: 3px;
}
.backbtn {
    background-color: #e7b360;
    color: #fff;
    font-size: 15px;
    padding: 1%;
    border-radius: 3px;
    margin-left:1%;
}
.shipping-wraper {
    margin-bottom: 30px;
}
.invoicetop-wraper {
    background-color: #fff;
    box-shadow: 0 0 13px -1px #e4e2e2;
    padding: 25px 25px 0;
    position: relative;
}
.custom-title {
    font-size: 16px;
    font-family: 'OpenSans';
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 25px;
    color: #652120;
}
.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.addrsingle {
    background-color: #fff;
    box-shadow: 0 0 13px -1px #e4e2e2;
    padding: 10px 6px;
}
.bgwhite {
    background-color: #fff;
    /*border: 1px solid #e0e0e0;*/
}
.cart .tbl-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}
.orderhis table, .cart table {
    width: 100%;
    table-layout: fixed;
}.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.orderhis table th, .cart table th {
    padding: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    color: #4e4e4e;
    text-transform: uppercase;
    background-color: #e6e6e6;
}
.orderhis table td, .cart table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #4e4e4e;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
/*
.alert-warning {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
}
.alert-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
}
.alert-danger {
    color: #fff;
    background-color: #e51c23;
    border-color: #e51c23;
}
.alert-info {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}*/
.alert-info,.alert-danger,.alert-success,.alert-warning {
    color: #fff;
    background-color: #652120;
    border-color: #652120;
}
.loading {
  border: 6px solid #f3f3f3;
    border-top-color: rgb(243, 243, 243);
    border-top-style: solid;
    border-top-width: 6px;
border-radius: 50%;
border-top: 6px solid #652120;
width: 60px;
height: 60px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
margin: 20% auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loaderlogo1 {
    margin-top: 45%;
}
#carddetail .modal-body{
    padding:7%;background: #652120;
}
#carddetail .modal-body .colm2{
background: #fff;
border-radius: 4%;
padding: 3%;
}
#carddetail .modal-body .btnAction{
    margin-top:10%;
}
.mobile-navbar-fixed-top{
	display:none;
}
.mm-top{
    margin-top: 100px;
}
